/* tag:: orangebtn */
@include extjs-button-ui(
    $ui: 'orangebtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #F39C12,
    $border-color: #E08E0B
);
@include extjs-button-small-ui(
    $ui: 'orangebtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #F39C12,
    $border-color: #E08E0B
);
@include extjs-button-medium-ui(
    $ui: 'orangebtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #F39C12,
    $border-color: #E08E0B
);
@include extjs-button-large-ui(
    $ui: 'orangebtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #F39C12,
    $border-color: #E08E0B
);
@include extjs-button-toolbar-small-ui(
    $ui: 'orangebtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #F39C12,
    $border-color: #E08E0B
);
@include extjs-button-toolbar-medium-ui(
    $ui: 'orangebtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #F39C12,
    $border-color: #E08E0B
);
@include extjs-button-toolbar-large-ui(
    $ui: 'orangebtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #F39C12,
    $border-color: #E08E0B
);
/* end:: orangebtn */

/* tag:: redbtn */
@include extjs-button-ui(
    $ui: 'redbtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #DD4B39,
    $border-color: #D73925
);
@include extjs-button-small-ui(
    $ui: 'redbtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #DD4B39,
    $border-color: #D73925
);
@include extjs-button-medium-ui(
    $ui: 'redbtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #DD4B39,
    $border-color: #D73925
);
@include extjs-button-large-ui(
    $ui: 'redbtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #DD4B39,
    $border-color: #D73925
);
@include extjs-button-toolbar-small-ui(
    $ui: 'redbtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #DD4B39,
    $border-color: #D73925
);
@include extjs-button-toolbar-medium-ui(
    $ui: 'redbtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #DD4B39,
    $border-color: #D73925
);
@include extjs-button-toolbar-large-ui(
    $ui: 'redbtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #DD4B39,
    $border-color: #D73925
);
/* end:: redbtn */

/* tag:: greenbtn */
@include extjs-button-ui(
    $ui: 'greenbtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #00A65A,
    $border-color: #008D4C
);
@include extjs-button-small-ui(
    $ui: 'greenbtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #00A65A,
    $border-color: #008D4C
);
@include extjs-button-medium-ui(
    $ui: 'greenbtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #00A65A,
    $border-color: #008D4C
);
@include extjs-button-large-ui(
    $ui: 'greenbtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #00A65A,
    $border-color: #008D4C
);
@include extjs-button-toolbar-small-ui(
    $ui: 'greenbtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #00A65A,
    $border-color: #008D4C
);
@include extjs-button-toolbar-medium-ui(
    $ui: 'greenbtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #00A65A,
    $border-color: #008D4C
);
@include extjs-button-toolbar-large-ui(
    $ui: 'greenbtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #00A65A,
    $border-color: #008D4C
);
/* end:: greenbtn */

/* tag:: bluebtn */
@include extjs-button-ui(
    $ui: 'bluebtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #00C0EF,
    $border-color: #00ACD6
);
@include extjs-button-small-ui(
    $ui: 'bluebtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #00C0EF,
    $border-color: #00ACD6
);
@include extjs-button-medium-ui(
    $ui: 'bluebtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #00C0EF,
    $border-color: #00ACD6
);
@include extjs-button-large-ui(
    $ui: 'bluebtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #00C0EF,
    $border-color: #00ACD6
);
@include extjs-button-toolbar-small-ui(
    $ui: 'bluebtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #00C0EF,
    $border-color: #00ACD6
);
@include extjs-button-toolbar-medium-ui(
    $ui: 'bluebtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #00C0EF,
    $border-color: #00ACD6
);
@include extjs-button-toolbar-large-ui(
    $ui: 'bluebtn',
    $border-radius: 0px,
    $color :  #FFF,
    $background-color:  #00C0EF,
    $border-color: #00ACD6
);
/* end:: bluebtn */

